/node_modules
/public/build
/public/storage
/storage/app
/storage/framework/cache
/storage/framework/sessions
/storage/framework/testing
/storage/logs
.env
.env.backup
.phpunit.result.cache
/vendor
/storage/framework/views